/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*, *::before, *::after{box-sizing:border-box;}
body{
    font-family: 'Noto Sans TC', sans-serif;
    line-height: 1.5;
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home.svg") 
    ,url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball01.svg")
    ,url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball02.svg");
    background-repeat: no-repeat
    ,no-repeat,no-repeat;
    background-size: 850.36px 768px,360px 360px ,310px 310px;

    background-position: right 0px top 0px
    , left -222px top 589px
    , right -100px top 1694px; 
}
@media(max-width:375px){
    body{
        background-image: none;
    /* background-image: url("") 
    ,url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball01.svg");
    background-repeat: no-repeat
    ,no-repeat;
    background-size: 0px 0px,126px 126px;
    background-position: 20px 391.21px 
    , -77px 743px;  */
    }


}
img{
    max-width:100%;
    height: auto;
    display: block;
}
a{text-decoration: none;}
a:hover{
    color:inherit;
}

sub{
    vertical-align: sub;
}
.container{
    max-width: 1128px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}
.nav{
    margin-bottom: 24px;

}
.chartalklogo img{
    width:60.572222222% ;
    display: block;
}
.navbtn a{
    display: block;
    color: #FFFFFF;
    background: #FF5D50;
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 22px;
    cursor: pointer;
}

@media(max-width:375px){
    .nav-bar{
        margin-top: 16px;
    }
    .nav{
        border-bottom:  2px solid #FFD153 ;
        padding-bottom: 16px;
    }
    .chartalklogo img{
        width: 130.84px;
    }

}
.banner{
    margin-top: 54px;
    margin-bottom: 217px;
    display: flex;
    flex-wrap: no-wrap;
}
.bannertext{
    width: 50%;
}
.bannertext1{
    padding-top: 157px;
    color: #56C4C5;
    font-size: 18px;
    font-weight: bold;
}
.bannertext2{
    color: #221E1F;
    font-size: 48px;
    font-weight: bold; 
    padding-top: 8px;
}
.bannertext3{
    color: #221E1F;
    font-size: 20px;
    font-weight: normal;
    padding-top: 16px;

}
.banner img{
    display: block;
    width: 50%;

}
@media(max-width:375px){
    .banner{
        margin-top: 0px;
        margin-bottom: 0px;
        padding-bottom: 98.5px;
        flex-wrap: wrap;
        background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home_sm.svg");
    
        background-repeat: no-repeat;
        background-size: 334px 244.79px;
        background-position:right 0px bottom 92px; 
    
    }
    .banner img{
        width: 100%;
        margin-top: 32px;
        margin-right: 7.81px;
        margin-left: 21.87px;
    }
    .bannertext{
        width: 100%;
      
    
    }
    .bannertext1{
        padding-top: 32px;
        font-size: 16px;    
    }
    .bannertext2{
        color: #221E1F;
        font-size: 32px;
    
    }
    .bannertext3{
        font-size: 16px;

    }

}
.slogantext{
    text-align: center;
    color: #221E1F;
    font-size: 32px;
    font-weight: bold;

}
.platform{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 89.7222222%;
    margin-bottom: 100px;
}
@media(max-width:375px){
    .platform{
    justify-content: center;
    position: relative;
    margin: 0 auto;

    
    }
    .platform-bg{
        position: absolute;
        background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball01.svg");
        background-repeat: no-repeat;
        width: 126px;
        height: 126px;
        z-index: -1;
        top: -25px;
        left: -114.22px;
        background-size: 126px 126px;
        background-position: 0 0;
    }

}
.platform-li{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;

}
.platform-li img{
    width: 90px;
    height: 90px;
    margin-bottom: 24px;
}
.platform-li h3{
    color: #221E1F;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 24px;
    line-height: 35px;
}
.platform-li p{
    color: #747474;
    font-size: 16px;
    text-align: center;
   
}
@media(max-width:375px){
    .slogantext{
        font-size: 28px;
    }
    .platform-li{
        margin-top: 32px;
    }
    .platform-li img{
        width: 60px;
        height: 60px;
        margin-bottom: 16px;
    }
    .platform-li h3{
        font-size: 18px;
        margin-bottom: 16px;
    }
    .platform-li p{
        font-size: 16px;
    }
}
.character p{
    font-size: 20px;
    text-align: center;
    font-weight: normal;
    margin-top: 16px;
}
.character-li{
    margin-top: 48px;
}
.character-li ul{
    display: flex;
    flex-wrap: wrap;
    margin-right: -8px;
    margin-left: -8px;
}
.character-li-card{
    width: 25%;
    padding-right: 8px;
    padding-left: 8px;
  
}
.card-shadow{    
    height: 388px;
    background-color: white;
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 12px;
}
.character-li-card img{
    border-radius: 12px 12px 0px 0px;
    display: block;
    width: 260px;
    height: 260px;
    margin-bottom: 16px;
}
.character-li-card span{
    color: #56C4C5;
    font-size: 16px;
    text-align: center;
    display: block;
    margin-bottom: 16px;
}
.character-li-card p{
    font-size: 16px;
    font-weight: normal;
    padding-bottom: 24px;
}
@media(max-width:375px){
    .character{
        position: relative;
    }
    .character-bg{
        position: absolute;
        background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball02.svg");
        background-repeat: no-repeat;
        z-index: -1;
        right: -20px;
        bottom: -8px;
        width: 88px;
        height: 135px;
        background-size: 135px 135px;
        background-position: 0 0;
    }
    .character-li ul{
        justify-content: center;
    }
    .character p{
        font-size: 18px;
    }
    .character-li{
        margin-top: 32px;
    }
    .character-li-card{
    width: 74.074074%;
    margin-bottom: 24px;
    padding-right: 0;
    padding-left: 0;
    }
}

.productFunction{
    display: flex;
    width:100%;
    margin-top: 100px;
    align-items: center;
    margin-bottom: 100px;
}
.productFunction-li{
    width: 48.79692%;
}
.productFunction-li ul{

    display: flex;
    flex-wrap: wrap;
    margin-right: -23.5px;
    margin-left: -23.5px;
}
.productFunction-card{
    width: 50%;
    height: 280px;
    margin-bottom: 28px;
    padding-left: 23.5px;
    padding-right: 23.5px;
}
.pcard-shadow{
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 12px;
    padding-top: 32px;
    padding-left: 32px;
    padding-bottom: 38px;
    padding-right: 32px;

}
.pcard-img-shadow{
    width: 86px;
    height: 86px;
    border-radius: 50%;
    box-shadow: 0px 2px 10px #00000014;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}
.productFunction-card h3{
    color: #221E1F;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;

}
.productFunction-card p{
    color: #221E1F;
    font-size: 16px;
}
.productFunction-Intro{
    margin-left: 137px;
    width: 37%;

}
.productFunction-Intro .slogantext{
    text-align: left;
    margin-bottom: 16px;
}
.productFunction-Intro p{
    font-size: 18px;
}
.pricebtn {
    display: block;
    color: #FFFFFF;
    background: #56C4C5;
    font-size: 18px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 27px;
    cursor: pointer;
    width: 136px;
    height: 49px;
}
.productFunction-Intro .pricebtn{
    margin-top: 24px;
}
@media(max-width:375px){
    .productFunction{
    flex-wrap: wrap;
    flex-direction: column-reverse;
    margin-top: 28px;
    margin-bottom: 36px;
    }
    .productFunction-Intro{
        margin-left: 0px;
        width: 100%;
        text-align: center;
        margin-bottom: 32px;
    }
    .productFunction-Intro .slogantext{
        text-align: center;
    }
    .productFunction p{
        font-size: 16px;
    }
    .productFunction a{
        margin-left: 100px;
    }
    .productFunction-li{
        width:68.656716417%;
    }
    .productFunction-card{
        width: 100%;
        margin-bottom: 24px;
        height: 284px;
    }
    .productFunction-card h3{
        margin-bottom: 20px;
    }
    .pcard-shadow{
    padding-left: 24px;
    padding-right: 41px;
    padding-top: 32px;
    padding-bottom: 48px;
    }

    
}
.swiper {
    width: 100%;
    height: 100%;
    --swiper-pagination-color:#FFD153;
    --swiper-pagination-bullet-size:10px;
  }


  .swiper-slide {
    text-align: left;
    /* font-size: 18px; */

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-slide .recommender-card{
      width: 97.2375690%;
     
  }

  .swiper-slide .rating-star img{
    width: 16.78px;
    height: 16px;
    margin-right: 8.22px;
}
.swiper-slide .profile-po{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    left: 32px;
    top: -56px;
}
.pagination-position{
    margin-top: 48px;
}

.recommend{
    background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball03.svg");
    background-repeat: no-repeat;
    background-position: 50px 41px;
}
.recommend ul{
    display: flex;
    margin-right: -8px;
    margin-left: -8px;
    margin-bottom: 134px;
}
.recommender-card{
    width: 33.3333%;
    margin-right: 0px;
    margin-left: 0px;
    font-size: 16px;
    color: #221E1F;
    position: relative;
    margin-top: 104px;
}
.recommender-card-boxshadow{    
    box-shadow: 0px 2px 10px #00000014;
    background: white;
    padding-top: 48px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 28px;
    border-radius: 12px;
}
.profile-po{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    left: 32px;
    top: -56px;
}
.recommender-card p{
    padding-bottom: 24px;
    border-bottom: 1px solid #DDDDDD;
}
.recommender-company{
    display: block;
    padding-top: 24px;
    margin-bottom: 8px;
    font-weight: bold;
}
.recommender-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rating-star{
    display: flex;
}
.rating-star img{
    width: 16.78px;
    height: 16px;
    margin-right: 8.22px;
}
@media(max-width:375px){
    .recommend{
        background-position: -76px 40px;
    }
    .recommend ul{
        flex-wrap: wrap;
        margin-bottom: 94px;
    }
    .recommender-card{
        width: 100%;
        font-size: 16px;
        margin-top: 88px;
    }
    .recommender-card-boxshadow{    
    padding-top: 48px;
    padding-left: 16px;
    padding-right: 17px;
    padding-bottom: 16px;
    }
    .recommender-card p{
        padding-bottom: 16px;
    }
    .recommender-company{
        padding-top: 16px;
    }
    .recommender-title{
        justify-content: space-between;
    }
    .rating-star{
        margin-right: 16.87px;
    }
    
}
.footer{
    background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/home_footer.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 81px;
}
.footer .slogantext{
    padding-top: 260px;
    padding-bottom: 48px;
}
.footer a{
    margin: 0 auto;
}
.copyright{
    text-align: center;
    background-color: #F5F5F5;
    font-size: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 100px;
}
@media(max-width:375px){
    .footer{
    background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/footer_sm.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 25px;
    }
    .footer .slogantext{
        font-size: 24px;
        padding-top: 293px;
        padding-bottom: 24px;
    }
    .copyright{
        margin-top: 60px;
    }
}
#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 57px;
    z-index: 99;
    border: none; 
    outline: none;
    background-color: #56C4C5;
    color: white; 
    cursor: pointer;
    padding-top: 0; 
    border-radius: 50%; 
    font-size: 18px; 
    width: 71px;
    height: 71px;
    font-family: 'Wendy One';
  }
  @media(max-width:375px){
    #myBtn {

        bottom: 20px; 
        right: 16px;
        z-index: 99;
        border: none; 
        outline: none;
        background-color: #56C4C5;
        color: white; 
        cursor: pointer;
        padding-top: 0; 
        border-radius: 50%; 
        font-size: 14px; 
        width: 50px;
        height: 50px;
        font-family: 'Wendy One';
      }
    
  }